body {
    margin: 0;
    background-color: rgb(234, 195, 234);
}

form {
    background-color: white;
    width: 700px;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 8px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    display: grid;
}

h1 {
    grid-column: span 2;
}

.group {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 20px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
    width: 300px;
    padding: 10px 5px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}


.gender {
    grid-column: span 2;
}

.gender h3 {
    margin-bottom: 6px;
}

.options {
    display: flex;
    gap: 10px;
}

.options label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.options input[type="radio"] {
    margin: 0;
    width: auto;
}

button {
    grid-column: span 2;
    height: 50px;
    background-color: rgb(181, 94, 181);
    border: 1px solid rgb(234, 195, 234);
    color: white;
    font-size: 20px;
    border-radius: 6px;
}